
 <div class="navbar ">
	<div class="navbar-inner">
		<div class="logo">
		  <a href="#" class = "question">+ New Question</a>
		    <div class="login">
			    <% if current_user %>
			      Signed in as <span class='bit'><%= current_user.name %></span> <%= link_to "Sign out", signout_path %>
			    <% else %>
			      <%= link_to "Sign in with Twitter", "/auth/twitter" %>
			    <% end %>
			  </div>
		  <h1 class = "title"><span class = "bit">Bit</span>Query</h1>
	 </div>
	</div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span10 tweet-container">
		  <h3 class = "feed-title">Queries Feed</h3>
        <% @tweets.each do |tweet_hash|%>
        	<%= tweet_hash['text'] %><br><br>
		  	<% end %>
			<div class="clear"></div>
		</div>
		<div class="span2 hashtag-container">
		  <h3 class = "hashtag-title">#Hashtags</h3>
		  <p>#coding</p>
		  <p>#help:Will</p>
		  <p>#help:Rob</p>
		  <p>#maintenance</p>
		</div>
	</div>
</div>