<h3>Tweet your question!</h3>
<%= form_for (@tweet) do |tweet_form| %>
  <%= tweet_form.text_field :content, placeholder: "Don't forget the lesson hashtag! eg. #regex", class: "input-block-level" %>
  <%= tweet_form.submit 'Submit Tweet', class: 'btn btn-primary' %>
<% end %>