// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Top navigation bar styling
.navbar {
  *position: fixed;
  *z-index: 2;
  margin-bottom: 0px;
  overflow: visible;
}

.navbar-inner {
  border-radius: 0;
  border-color: #2d2d2d;
  height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #2d2d2d;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.logo {
	color: #EEE;
	min-width: 714px;
  padding-top: 4px;
}

// New Query button
.question {
	float: left;
	padding-top: 10px;
	line-height: 12px;
	background: #F25A31;
	text-transform: uppercase;
	text-shadow: none;
	padding: 8px 14px;
	letter-spacing: 1px;
	font-weight: 400;
	border-radius: 4px;
	border: none;
	margin-top:10px;
  font-size: 10pt;
  color: #EEE;
}

.question a {
  color: #EEE;
}

.question #plus {
  font-size: 13pt;
}

.question:hover {
  color: #EEE;
  text-decoration: underline;
}


// Main Title styling
.title {
	width: 150px;
	margin: 0 auto;
}

.title a {
  color: #EEE;
}

.title a:hover {
  color: #EEE;
  text-decoration: none;
}

.bit {
  color: #00a9e7;
}

// Rough Login Styling -- REDO THIS LATER
.login {
  float: right;
  text-align: right;
  padding-top: 16px;
  color: #EEE;
  font-size: 11pt;
}

#char-count {
  color: #a3a3a3;
  float: right;
  text-align: right;
  margin-right: 1px;
}
// Stuff for blocking site sections and setting defaults

a {
  color: #00a9e7;
}

a:hover {
  color: #F25A31;
  text-decoration: none;
}

.modal-footer {
  margin-top: 20px;
  height: 30px;
}

#tweet_content {
  margin-bottom: 0;
}

.new_tweet {
  margin-bottom: 0;
}

.modal-body {
  height: 110px;
}

.container-fluid {
  background-color: #EEE;
  padding: 12px 20px;
}

.tweet-container {
  border: 1px solid black;
  background-color: #EEE;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 5px;
  background: #e5e5e5; /* Old browsers */
  background: -moz-linear-gradient(top, #f3f3f3 0%, #f9f9f9 25%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(25%,#f9f9f9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f3f3f3 0%,#f9f9f9 25%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f3f3f3 0%,#f9f9f9 25%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f3f3f3 0%,#f9f9f9 25%); /* IE10+ */
  background: linear-gradient(to bottom, #f3f3f3 0%,#f9f9f9 25%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */

  min-width: 502px;
  float: left;

  height: 100%;
  border: 0px;
  border-radius: 3px;
  box-shadow: inset 0px 0px 2px #FFF, 0px 0px 4px rgba(0,0,0,0.15);
}

.hashtag-container {
  border: 1px solid black;
  background-color: #EEE;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 5px;
  background: #e5e5e5; /* Old browsers */
  background: -moz-linear-gradient(top, #f3f3f3 0%, #f9f9f9 25%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(25%,#f9f9f9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f3f3f3 0%,#f9f9f9 25%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f3f3f3 0%,#f9f9f9 25%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f3f3f3 0%,#f9f9f9 25%); /* IE10+ */
  background: linear-gradient(to bottom, #f3f3f3 0%,#f9f9f9 25%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */

  min-width: 157px;
  float: right;

  width: 983px;
  height: 100%;
  border: 0px;
  border-radius: 3px;
  box-shadow: inset 0px 0px 2px #FFF, 0px 0px 4px rgba(0,0,0,0.15);
}