// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Top navigation bar styling
.navbar {
  *position: fixed;
  *z-index: 2;
  margin-bottom: 0px;
  overflow: visible;
}

.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #2d2d2d;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.logo {
	color: #EEE;
	min-width: 714px;
}

// New Query button
.question {
	float: left;
	padding-top: 20px;
	line-height: 12px;
	background: #F25A31;
	text-transform: uppercase;
	text-shadow: none;
	padding: 8px 14px;
	letter-spacing: 1px;
	font-weight: 400;
	border-radius: 4px;
	border: none;
	margin-top:16px;
}

.question #plus {
  font-size: 15pt;
}

.question:hover {
  color: #EEE;
  text-decoration: underline;
}

// Main Title styling
.title {
	width: 150px;
	margin: 0 auto;
	padding: 8px 0;
	padding-bottom: 12px;
}

.title a:hover {
  color: #EEE;
}

.bit {
  color: #00a9e7;
}

// Rough Login Styling -- REDO THIS LATER
.login {
  float: right;
  text-align: right;
  padding-top: 20px;
}

.hashtag-title {
	text-align: center;
}

#char-count {
  color: #a3a3a3;
  float: right;
  text-align: right;
  margin-right: 1px;
}
// Stuff for blocking site sections
  // Some of this was taken from Bootstrap for simplicity

.container-fluid {
  background-color: #EEE;
  padding-top: 16px;
}

.tweet-container {
  border: 1px solid black;
  background-color: #EEE;
  padding: 0 15px;
  padding-bottom: 15px;
  background: #e5e5e5; /* Old browsers */
  background: -moz-linear-gradient(top, #f3f3f3 0%, #f9f9f9 25%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(25%,#f9f9f9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f3f3f3 0%,#f9f9f9 25%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f3f3f3 0%,#f9f9f9 25%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f3f3f3 0%,#f9f9f9 25%); /* IE10+ */
  background: linear-gradient(to bottom, #f3f3f3 0%,#f9f9f9 25%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */

  min-width: 502px;

  width: 983px;
  height: 100%;
  border: 0px;
  border-radius: 3px;
  margin:15px auto;
  box-shadow: inset 0px 0px 2px #FFF, 0px 0px 4px rgba(0,0,0,0.15);
}

.hashtag-container {
  border: 1px solid black;
  background-color: #EEE;
  padding: 0 15px;
  background: #e5e5e5; /* Old browsers */
  background: -moz-linear-gradient(top, #f3f3f3 0%, #f9f9f9 25%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(25%,#f9f9f9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f3f3f3 0%,#f9f9f9 25%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f3f3f3 0%,#f9f9f9 25%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f3f3f3 0%,#f9f9f9 25%); /* IE10+ */
  background: linear-gradient(to bottom, #f3f3f3 0%,#f9f9f9 25%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */

  min-width: 157px;

  width: 983px;
  height: 100%;
  border: 0px;
  border-radius: 3px;
  margin-top:15px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset 0px 0px 2px #FFF, 0px 0px 4px rgba(0,0,0,0.15);
}

.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
}

.row-fluid {
  width: 100%;
  min-width: 714px;
  *zoom: 1;
}

.span12 {
  width: 940px;
}

.span11 {
  width: 860px;
}

.span10 {
  width: 780px;
}

.span9 {
  width: 700px;
}

.span8 {
  width: 620px;
}

.span7 {
  width: 540px;
}

.span6 {
  width: 460px;
}

.span5 {
  width: 380px;
}

.span4 {
  width: 300px;
}

.span3 {
  width: 220px;
}

.span2 {
  width: 140px;
}

.span1 {
  width: 60px;
}

.clear {
	clear: both;
}

// Document styling
* {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

html {
  background-color: #EEE;
}

a {
  text-decoration: none;
  color: #EEE;
}

a:hover {
  text-decoration: none;
  color: #F25A31;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 31px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 17px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 11px;
}